{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                {{ range where .Data.Pages "Section" "" }}
                {{ partial "post.html" . }}
                {{ end }}
            </div>
            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
    {{ partial "sidebar.html" . }}
</div>
{{ partial "analytics.html" . }}
</body>
</html>
